html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.sidebar {
  overflow-y: auto;
  position: fixed;
  top: 0px;
  width: 400px;
  height: 100%;
  padding-top: 20px;
}

#map {
  width: calc(100% - 400px);
  float: right;
  height: 100%;
}

#wrapper {
	display: block;
	height: 100%;
	width: 100%;
}

textarea {
	resize: none;
}
